
* {
  text-align: center;
  padding: 10px 20px;
  margin: 10px auto;
  background-color: rgba(3, 120, 50, 0.15);
  border-radius: 8px;
  font-family: Donegal One;
}

input[type='text'] {
  padding: 5px 5px;
  font-size: 18px;
  width: 80px;
  height: 20px;
}

description {

}
